/*
    Student Name: Jovensky Sainthilaire
	File Name: apply	
	Current Date: 12/2/22
*/
/* CSS reset */
body, header, main, section, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}


#bg-light-blue{
background-color:#cce6ff;
}